$bg-main: #0f172a; // Дуже темний синій
$bg-card: #1e293b;
$bg-header: rgba(15, 23, 42, 0.75); // Напівпрозорий для backdrop-filter

$primary: #3b82f6; // Синій
$primary-hover: #2563eb;
$success: #10b981;
$danger: #ef4444;
$text-main: #f1f5f9;
$text-muted: #94a3b8;
$border: #334155;

$radius: 12px;
$container-width: 1200px;