$bg-main: rgba(15, 23, 42, 0.45); // #0f172a
$bg-card: rgba(30, 41, 59, 0.45);
$bg-dropwown: rgba(30, 41, 59, 0.99); // #1e293b;
$bg-header: rgba(15, 23, 42, 0.45); 

$primary: #3b82f6; // Синій
$primary-hover: rgba(30, 41, 59, 0.25);
$success: #10b981;
$danger: #ef4444;
$text-main: #f1f5f9;
$text-muted: #94a3b8;
$border: #334155;

$radius: 12px;
$container-width: 1200px;